.post {
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  min-height: 250px;
  max-height: 500px;
  position: relative;
}

.post-user {
  display: flex;
  align-items: center;
}

.post-user-text {
  text-align: left;
  margin-left: 10px;
}

.post-user img {
  width: 55px;
}

.post-user-text h1 {
  font-size: 16px;
}

.post-user-text p {
  font-size: 12px;
  color: var(--gray);
}

.post-content {
  margin-top: 20px;
  text-align: left;
}

.post-content-title h1 {
  font-size: 18px;
  font-weight: 600;
}

.post-content-title span {
  color: var(--mainColor);
  font-weight: 400;
}

.post-content-text .ql-editor {
  min-height: min-content;
  max-height: 500px;
  padding: 0;
}

.post-content-text {
  margin-top: 20px;
  height: fit-content;
}

.post-content-text h1 {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
}

.post-content-like {
  margin-top: 20px;
}

.post-content-like .comment,
.like {
  font-size: 30px;
  margin-right: 12px;
}

.post-content-like .like {
  color: var(--mainColor);
}

.post-content-like .comment {
  color: var(--lightGray);
}

.post-content-comment {
  margin-top: 5px;
}

.post-content-comment h1 {
  font-size: 16px;
}

.post-content-comment p {
  margin-top: 5px;
  font-size: 14px;
  color: var(--lightGray);
}

.post-content-btn {
  width: 150px;
  height: 44px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #e76f51 0%, #f4a261 103.33%);
  box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02),
    0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13),
    0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media only screen and (max-width: 1010px) {
  .post-content-btn {
    width: 150px;
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .post-content-btn {
    width: 150px;
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .post-content-btn {
    width: 100%;
    margin-top: 20px;
    position: static;
  }
}
