.project-box {
  margin: 50px auto;
  width: 33%;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.project-details img {
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.project-details h1 {
  font-size: 22px;
  margin-top: 20px;
}

.author-details {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.author-details p {
  font-size: 14px;
  color: var(--gray);
}

.author-details span {
  font-size: 16px;
  color: var(--secondaryColor);
}

.author-details img {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.project-description p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--gray);
}

@media only screen and (max-width: 1024px) {
  .project-box {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .project-box {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  .project-box {
    width: 85%;
  }
}
