//Profile box stats
.profile-stats {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}
.profile-stat {
  width: 33%;
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
    color: var(--gray);
  }
}

// profile bar stats
.profile-bar-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.profile-bar-friends,
.profile-bar-projects,
.profile-bar-likes {
  width: 33%;
  margin: 0 10px;

  h1 {
    margin: 0 auto;
    cursor: pointer;
    width: fit-content;
    font-size: 25px;
  }
  p {
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    font-size: 14px;
  }
}
