.profile {
  margin-top: 30px;
  padding: 0 250px;
  display: flex;
}
.profile-box {
  width: 40%;
  max-width: 400px;
  align-items: start;
  border-radius: 10px;
}
.profile-img {
  width: 116px;
  height: 116px;
  img {
    object-fit: cover;
    width: 116px;
    height: 116px;
    border-radius: 100px;
  }
}
.profile-details {
  display: flex;
  text-align: left;
}

.profile-name {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 20px;
  h1 {
    font-size: 32px;
    font-weight: bolder;
  }
}

.profile-bio {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  .profile-box {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .profile-box {
    width: 60%;
  }
}
@media only screen and (max-width: 425px) {
  .profile-box {
    width: 85%;
  }
}
