.friend-list-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}
.friend-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  max-width: 500px;
  width: 80%;
  animation: fadeIn 0.3s ease-in-out;
}

.friend-list-closebtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
