.comments-section {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;

  .comment-user-img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .comment-content {
    position: relative;
    width: fit-content;
    line-break: anywhere;
    margin-left: 10px;
    background-color: var(--lightGray);
    padding: 5px 25px 5px 10px;
    border-radius: 18px;
    .comment-delete {
      width: fit-content;
      position: absolute;
      right: 10px;
      top: 3px;
      color: var(--gray);
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: var(--mainColor);
      }
    }
    .comment-user-name {
      width: fit-content;
      cursor: pointer;
      font-weight: 700;
    }
    .comment-text {
    }
  }
}
