.document-slider {
  margin-top: 75px;
}
.document-slider h1 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}

.document-box {
  cursor: pointer;
  background-color: var(--green);
  border-radius: 6px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
  box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02), 0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13), 0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
}
.document-box .document-box-text {
  padding: 20px;
}
.document-box .document-box-text h1 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.document-box .document-box-text p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
}
.document-box:hover {
  background-color: var(--blue);
}

.document-slider-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-grid-column > .swiper-wrapper {
  flex-direction: row !important;
}

.document-slider .swiper-wrapper {
  width: 100%;
  height: auto;
}

.document-slider .swiper {
  margin-left: auto;
  margin-right: auto;
}

.document-slider .swiper-slide {
  margin-top: 10px !important;
  text-align: center;
  font-size: 18px;
}

.document-slider .swiper-button-prev,
.document-slider .swiper-button-next {
  background-color: var(--secondaryColor);
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 80px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.document-slider .swiper-button-prev::after,
.document-slider .swiper-button-next::after {
  font-size: 8px;
  font-weight: bold;
}
.document-slider .swiper-button-prev:hover,
.document-slider .swiper-button-next:hover {
  background-color: var(--mainColor);
}

.document-slider .qp-btn {
  width: 222px;
}

.no-documents {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.no-documents .qp-btn {
  text-align: center;
  margin-top: 20px;
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  .document-box {
    background-color: var(--green);
    border-radius: 6px;
    color: #fff;
    width: 100%;
    height: auto;
  }
  .document-box .document-box-text {
    padding: 20px;
  }
  .document-box .document-box-text h1 {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
  .document-box .document-box-text p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
  }
}
@media only screen and (max-width: 555px) {
  .document-slider h1 {
    font-size: 20px;
  }
  .document-slider .qp-btn {
    font-size: 12px;
    padding: 10px 16px;
    width: 180px;
  }
}
@media only screen and (max-width: 350px) {
  .document-slider .qp-btn {
    font-size: 11px;
    padding: 10px 10px;
    width: 150px;
  }
  .document-box {
    background-color: var(--green);
    border-radius: 6px;
    color: #fff;
    width: 100%;
    height: auto;
  }
  .document-box .document-box-text {
    padding: 20px;
  }
  .document-box .document-box-text h1 {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
  }
  .document-box .document-box-text p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 10px;
  }
}

/*# sourceMappingURL=DocumentSlider.css.map */
