.scribble-box {
  position: relative;
  margin: 50px auto;
  width: 50%;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01), 0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09), 0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 6px;
  padding: 20px 0;
  text-align: left;
}
.scribble-box .date {
  position: absolute;
  right: 20px;
  color: var(--gray);
}
.scribble-box .trash-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}
.scribble-box .edit-btn {
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  width: fit-content;
}
.scribble-box .project-details {
  margin-top: 30px;
  border-left: 0px;
  border-right: 0px;
  border-top: 2px;
  border-bottom: 2px;
  border-color: var(--secondaryColor);
  border-style: dashed;
}
.scribble-box .project-details .word-count {
  position: absolute;
  right: 20px;
}
.scribble-box .project-details a {
  margin: 0 auto;
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.scribble-box .project-details h1 {
  padding: 6px 0;
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.scribble-box .project-details .project-title {
  color: var(--gray);
}
.scribble-box .project-details span {
  color: var(--secondaryColor);
}
.scribble-box .project-details img {
  object-fit: cover;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  border-radius: 6px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.01), 0px 4px 3px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.09), 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.title h1 {
  font-size: 32px;
  font-weight: bolder;
  margin-top: 20px;
}
.title input {
  font-size: 32px;
  font-weight: bolder;
  border: 0px solid;
  margin: 20px 0px 0px 0px;
  text-align: center;
  padding: 0;
}
.title textarea:focus,
.title input:focus {
  outline: none;
  color: var(--gray);
}
.title h2 {
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 600;
}

.post-box-img {
  width: 100px;
  height: 100px;
}

.author {
  margin-top: 10px;
}
.author a {
  margin: 10px auto;
  margin-bottom: 0px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.author a h1 {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.author img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 100px;
  margin-left: 5px;
}

.post-user-img {
  width: 20px;
  height: 20px;
}

#post-content {
  padding: 0 20px;
  margin-top: 40px;
  height: fit-content;
}

.content p {
  font-size: 18px;
}

.like-comment {
  margin-top: 25px;
  padding: 0 20px;
}
.like-comment .icons {
  font-size: 30px;
}
.like-comment .comment-icon {
  margin-left: 10px;
  color: var(--gray);
}
.like-comment .comment-icon.active {
  color: var(--mainColor);
}
.like-comment .like-text h1 {
  margin-top: 10px;
  font-size: 16px;
}
.like-comment .comment-text p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray);
}

.post-project-img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1024px) {
  .scribble-box {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .scribble-box {
    width: 80%;
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 666px) {
  .scribble-box .project-details img {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .scribble-box {
    width: 90%;
  }
  .scribble-box .date {
    font-size: 8px;
  }
  .scribble-box .title h1 {
    font-size: 16px;
    font-weight: 600;
  }
  .scribble-box .content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }
}

/*# sourceMappingURL=DocumentBox.css.map */
