.scribble-box {
  position: relative;
  margin: 50px auto;
  width: 50%;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 6px;
  padding: 20px 0;
  text-align: left;

  .date {
    position: absolute;
    right: 20px;
    color: var(--gray);
  }

  .trash-btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .edit-btn {
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
    width: fit-content;
  }
  .project-details {
    margin-top: 30px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px;
    border-bottom: 2px;
    border-color: var(--secondaryColor);
    border-style: dashed;
    a {
      margin: 0 auto;
      display: flex;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
    }

    h1 {
      padding: 6px 0;
      margin-top: 0;
      font-size: 16px;
      font-weight: 500;
      color: black;
    }

    .project-title {
      color: var(--gray);
    }

    span {
      color: var(--secondaryColor);
    }

    img {
      object-fit: cover;
      width: 22px;
      height: 22px;
      margin-left: 5px;
      border-radius: 6px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.01), 0px 4px 3px rgba(0, 0, 0, 0.05),
      0px 2px 2px rgba(0, 0, 0, 0.09), 0px 0px 1px rgba(0, 0, 0, 0.1),
      0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  h1 {
    font-size: 32px;
    font-weight: bolder;
    margin-top: 20px;
  }

  h2 {
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 600;
  }
}

.post-box-img {
  width: 100px;
  height: 100px;
}

.author {
  margin-top: 10px;

  a {
    margin: 10px auto;
    margin-bottom: 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    h1 {
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      color: black;
    }
  }

  img {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 100px;
    margin-left: 5px;
  }
}

.post-user-img {
  width: 20px;
  height: 20px;
}

#post-content {
  padding: 0 20px;
  margin-top: 40px;
  height: fit-content;
}

.content {
  p {
    font-size: 18px;
  }
}

.like-comment {
  margin-top: 25px;
  padding: 0 20px;

  .icons {
    font-size: 30px;
  }

  .comment-icon {
    margin-left: 10px;
    color: var(--gray);

    &.active {
      color: var(--mainColor);
    }
  }

  .like-text {
    h1 {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .comment-text {
    p {
      margin-top: 10px;
      font-size: 14px;
      color: var(--gray);
    }
  }
}

.post-project-img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1024px) {
  .scribble-box {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .scribble-box {
    width: 80%;
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 666px) {
  .scribble-box {
    .project-details {
      img {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .scribble-box {
    .date {
      font-size: 8px;
    }

    width: 90%;

    .title {
      h1 {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .content {
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
      }
    }
  }
}
