.scribble-box {
  position: relative;
  margin: 50px auto;
  width: 50%;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 6px;
  padding: 20px 0;
  text-align: left;

  .date {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--gray);
  }

  .document-top-buttons {
    display: inline-flex;
    width: fit-content;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;

    .trash-btn {
      position: static;
    }
    .share-btn-cover {
      &:hover {
        .share-btn,
        .share-btn h1 {
          color: var(--mainColor);
        }
      }
      .share-btn {
        width: fit-content;
        margin-left: 10px;
        display: flex;
        font-size: 20px;
        color: var(--gray);
        transition: all 0.3s ease-in-out;
        h1 {
          font-size: 20px;
          margin-left: 5px;
          color: #000;
          transition: all 0.3s ease-in-out;
          font-weight: 600;
        }
      }
    }
  }

  .project-details {
    margin-top: 30px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px;
    border-bottom: 2px;
    border-color: var(--secondaryColor);
    border-style: dashed;

    .word-count {
      position: absolute;
      right: 20px;
    }

    a {
      margin: 0 auto;
      display: flex;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
    }

    h1 {
      padding: 6px 0;
      margin-top: 0;
      font-size: 16px;
      font-weight: 500;
      color: black;
    }

    .project-title {
      color: var(--gray);
    }

    span {
      color: var(--secondaryColor);
    }

    img {
      object-fit: cover;
      width: 22px;
      height: 22px;
      margin-left: 5px;
      border-radius: 6px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.01), 0px 4px 3px rgba(0, 0, 0, 0.05),
      0px 2px 2px rgba(0, 0, 0, 0.09), 0px 0px 1px rgba(0, 0, 0, 0.1),
      0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  h1 {
    font-size: 32px;
    font-weight: bolder;
    margin-top: 20px;
  }

  input {
    font-size: 32px;
    font-weight: bolder;
    border: 0px solid;
    margin: 20px 0px 0px 0px;
    text-align: center;
    padding: 0;
  }

  textarea:focus,
  input:focus {
    outline: none;
    color: var(--gray);
  }

  h2 {
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 600;
  }
}

.post-box-img {
  width: 100px;
  height: 100px;
}

.author {
  margin-top: 10px;

  a {
    margin: 10px auto;
    margin-bottom: 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    h1 {
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      color: black;
    }
  }

  img {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 100px;
    margin-left: 5px;
  }
  .post-user-img {
    width: 20px;
    height: 20px;
  }
}

#post-content {
  padding: 0 20px;
  margin-top: 40px;
  height: fit-content;
}

.content {
  p {
    font-size: 18px;
  }
}

.post-project-img {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 1800px) {
  .scribble-box {
    width: 55%;
  }
}

@media only screen and (max-width: 1575px) {
  .scribble-box {
    width: 60%;
  }
}

@media only screen and (max-width: 1280px) {
  .scribble-box {
    width: 65%;
  }
}

@media only screen and (max-width: 1024px) {
  .scribble-box {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .scribble-box {
    width: 80%;
    padding: 20px 0px;
  }
  .word-count {
    display: none;
  }
}

@media only screen and (max-width: 570px) {
  .scribble-box {
    .date {
      font-size: 12px;
    }

    width: 90%;

    .title {
      h1 {
        font-size: 22px;

        font-weight: bolder;
      }
    }

    input {
      font-size: 22px;
      font-weight: bolder;
      border: 0px solid;
      margin: 20px 0px 0px 0px;
      text-align: center;
      padding: 0;
    }

    .author {
      margin-top: 10px;

      a {
        margin: 10px auto;
        margin-bottom: 0px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        h1 {
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          color: black;
        }
      }

      img {
        width: 14px;
        height: 14px;
        object-fit: cover;
        border-radius: 100px;
        margin-left: 5px;
      }
    }

    .content {
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.03em;
      }
    }
  }
}
