#container {
  .ql-editor {
    min-height: 250px;
    transition: min-height 1s ease-in-out;
    visibility: visible;
    opacity: 1;
    padding: 20px;
    line-height: 300%;

    p {
      font-size: 18px;
    }
  }

  &.writing .ql-editor {
  }
}
