#container {
  transition: min-height 1s ease-in-out; // Transition only on min-height
  .ql-editor {
    min-height: 250px;
    transition: min-height 1s ease-in-out; // Transition only on min-height
    visibility: visible;
    opacity: 1;
    padding: 20px;
    line-height: 300%;

    p {
      font-size: 18px;
    }
  }

  &.writing .ql-editor {
    min-height: var(--editor-height, 250px);
  }
}
