@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/* Global CSS */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

:root {
  --mainColor: #e76f51;
  --secondaryColor: #f4a261;
  --gray: #919191;
  --lightGray: #bfbfbf;
}

.container {
  text-align: center;
}

/* Spinner Css */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header CSS */

header {
  background: linear-gradient(180deg, #f4a261 0%, rgba(217, 217, 217, 0) 100%);
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 200px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}

li a:hover {
  color: var(--secondaryColor);
}

li .circled {
  text-decoration: none;
  color: #fff;
  background-color: var(--mainColor);
  padding: 10px 15px;
  border-radius: 50px;
  margin: 0 20px;
  outline: none;
  border: 0;
  font-size: 15px;
  cursor: pointer;
}

li .circled:hover {
  color: #fff;
  background-color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
}

header .nav-btn:hover {
  color: var(--secondaryColor);
}

header .nav-login-btn svg path {
  color: #000;
}

header .nav-login-btn svg path:hover {
  color: var(--secondaryColor);
}

@media only screen and (max-width: 1023px) {
  header .nav-btn {
    display: inline-block;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header li {
    margin: 30px 0;
    font-size: 30px;
  }

  header li a {
    color: white;
  }

  header li .signup:hover {
    background-color: transparent;
    color: var(--secondaryColor);
  }

  header .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 40px;
    color: white;
  }

  header .responsive_nav {
    transform: none;
    z-index: 1;
  }
}

@media only screen and (max-width: 425px) {
  header {
    padding: 25px 20px;
  }

  header .logo img {
    width: 160px;
  }

  header .nav-btn {
    padding: 5px;
    font-size: 20px;
  }
}

/* Login & Register Pages */

.heading {
  margin-top: 50px;
}

.heading h1 {
  font-size: 60px;
  font-weight: 500;
}

.heading h1 span {
  color: var(--mainColor);
}

.heading p {
  margin-top: 20px;
  color: var(--gray);
}

.form {
  margin: 10px auto;
  width: 400px;
}

.form-group input {
  margin: 10px 0;
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  outline: none;
  border-color: var(--lightGray);
}

.form-group input::placeholder {
  color: var(--lightGray);
}

.form-group input:focus-within {
  border-width: 2px;
  border-color: var(--mainColor);
}

.form-group button {
  width: 100%;
  margin-top: 10px;
  padding: 15px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--mainColor);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.login-register {
  margin-top: 20px;
  color: var(--gray);
}

.login-register span a {
  text-decoration: none;
  color: var(--mainColor);
}

@media only screen and (max-width: 520px) {
  .form {
    width: 300px;
  }
  .heading {
    margin-top: 25px;
  }
  .heading h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .form {
    width: 280px;
  }
  .heading h1 {
    font-size: 40px;
  }
}

/* Feed CSS */

.feed {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  margin-top: 40px;
  display: flex;
  width: 40%;
  border-radius: 30px;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--lightGray);
  padding: 5px 10px;
  align-items: center;
}

.search input {
  width: 90%;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.top-text {
  margin-top: 40px;
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.top-text h1 {
  font-size: 18px;
}
.top-text label {
  font-size: 18px;
}

#sort {
  width: 66px;
  border: 1px solid;
  outline: 0px;
  font-size: 18px;
  border-color: #fff;
  color: var(--mainColor);
}
.top-text select option {
}

.main-feed {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* Main Posts CSS */

.post-row {
  width: 40%;
}

.post {
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.post-user {
  display: flex;
  align-items: center;
}

.post-user-text {
  text-align: left;
  margin-left: 10px;
}

.post-user img {
  width: 55px;
}

.post-user-text h1 {
  font-size: 16px;
}

.post-user-text p {
  font-size: 12px;
  color: var(--gray);
}

.post-content {
  margin-top: 20px;
  text-align: left;
}

.post-content-title h1 {
  font-size: 18px;
  font-weight: 600;
}

.post-content-title span {
  color: var(--mainColor);
  font-weight: 400;
}

.post-content-text {
  margin-top: 20px;
}

.post-content-text h1 {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
}

.post-content-like {
  margin-top: 20px;
}

.post-content-like .comment,
.like {
  font-size: 30px;
  margin-right: 12px;
}

.post-content-like .like {
  color: var(--mainColor);
}

.post-content-like .comment {
  color: var(--lightGray);
}

.post-content-comment {
  margin-top: 5px;
}

.post-content-comment h1 {
  font-size: 16px;
}

.post-content-comment p {
  margin-top: 5px;
  font-size: 14px;
  color: var(--lightGray);
}

.post-content-btn {
  width: 150px;
  height: 44px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #e76f51 0%, #f4a261 103.33%);
  box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02),
    0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13),
    0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Side Bars Css */

.sidebar {
  height: 33%;
  position: relative;
  width: 28%;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.sidebar h1 {
  text-align: left;
  font-size: 18px;
}

.sidebar-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.project img {
  display: flex;
}

.sidebar-text {
  margin-left: 10px;
  text-align: left;
}

.sidebar-text h1 {
  font-size: 16px;
  font-weight: 500;
}

.sidebar-text p {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
}

.sidebar-btn {
  position: absolute;
  right: 20px;
  height: 33px;
  width: 90px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
}

@media only screen and (max-width: 1240px) {
  .post-row {
    width: 50%;
  }

  .sidebar {
    width: 20%;
  }

  .sidebar-row {
    flex-direction: column;
  }

  .sidebar h1 {
    text-align: center;
  }

  .sidebar-text {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
  }

  .sidebar-btn {
    margin-top: 10px;
    position: inherit;
  }
}

@media only screen and (max-width: 1010px) {
  .main-feed {
    justify-content: space-evenly;
  }
  .your-projects {
    display: none;
  }

  .find-friends {
    display: none;
  }

  .search {
    margin-top: 40px;
    display: flex;
    width: 70%;
    border-radius: 30px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--lightGray);
    padding: 5px 10px;
    align-items: center;
  }

  .search input {
    width: 90%;
    outline: none;
    border: none;
    padding: 10px 20px;
  }

  .top-text {
    margin-top: 40px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }

  .post-row {
    width: 70%;
  }

  .post-content-btn {
    width: 150px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #e76f51 0%, #f4a261 103.33%);
    box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02),
      0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13),
      0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .search {
    margin-top: 10px;
    display: flex;
    width: 80%;
    border-radius: 30px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--lightGray);
    padding: 5px 10px;
    align-items: center;
  }

  .search input {
    width: 90%;
    outline: none;
    border: none;
    padding: 10px 20px;
  }

  .top-text {
    margin-top: 40px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .top-text h1 {
    font-size: 15px;
  }

  .top-text label {
    font-size: 15px;
  }

  #sort {
    font-size: 15px;
  }

  .post-row {
    width: 80%;
  }

  .post-content-btn {
    width: 150px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #e76f51 0%, #f4a261 103.33%);
    box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02),
      0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13),
      0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .feed {
    padding: 25px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .search {
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 30px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--lightGray);
    padding: 5px 10px;
    align-items: center;
  }

  .search input {
    width: 90%;
    outline: none;
    border: none;
    padding: 10px 20px;
  }

  .top-text {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .top-text h1 {
    font-size: 15px;
  }

  .top-text label {
    font-size: 15px;
  }

  #sort {
    font-size: 15px;
  }

  .post-row {
    width: 100%;
  }

  .post-content-btn {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #e76f51 0%, #f4a261 103.33%);
    box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02),
      0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13),
      0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
    position: static;
    bottom: 20px;
    right: 20px;
  }
}
