.project-create-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.project-genre-selector {
  z-index: 99;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  border-radius: 6px;
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 30px;
  animation: fadeIn 0.3s ease-in-out;

  h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
  }
}

.project-genre-selector-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.project-genre-selector-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 6px;
  background-color: var(--green);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--blue);
    color: #fff;
  }

  h2 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}

.selected-genre-btn {
  background-color: var(--blue);
  color: #fff;
}

.project-genre-selector-grid-item-photo {
  width: 60px;
  height: 50px;

  img {
    width: 100%;
  }
}

.project-genre-selector-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 30px;
}

@media only screen and (max-width: 650px) {
  .project-genre-selector {
    width: 80%;
  }
  .project-genre-selector-grid {
    grid-template-columns: 1fr 1fr;
  }
  .project-genre-selector-buttons {
    justify-content: center;
  }
}

@media only screen and (max-width: 375px) {
  .project-genre-selector {
    width: 85%;
    padding: 20px 15px;
  }
}

@media only screen and (max-width: 320px) {
  .project-genre-selector {
    width: 90%;
  }
}
