.project {
  display: flex;
}

.project-box {
  width: 100%;
  align-items: start;
  border-radius: 10px;
}

.trash-btn {
  position: relative;
  width: fit-content;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  color: var(--lightGray);
}
.trash-btn:hover {
  color: var(--mainColor);
}

.project-details {
  display: flex;
  text-align: left;
}

.project-datails-image {
  width: 222px;
  height: 222px;
}
.project-datails-image img {
  object-fit: cover;
  width: 222px;
  height: 222px;
  border-radius: 6px;
}

.project-details-text {
  margin-left: 20px;
  flex-direction: column;
  display: flex;
  overflow-wrap: break-word;
  width: max-content;
}
.project-details-text h1 {
  font-size: 32px;
  font-weight: bolder;
}
.project-details-text a {
  text-decoration: none;
  color: var(--gray);
}
.project-details-text p {
  font-size: 18px;
  color: var(--gray);
}
.project-details-text span {
  font-size: 22px;
  color: var(--secondaryColor);
}
.project-details-text img {
  object-fit: cover;
  margin-left: 5px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
}

.project-details-text input {
  font-size: 32px;
  font-weight: bolder;
  border: 0px solid;
  margin: 0;
  padding: 0;
}

.project-details-text textarea:focus,
.project-details-text input:focus {
  outline: none;
  color: var(--gray);
}

.project-details-description p {
  margin-top: 10px;
  max-width: 800px;
  cursor: pointer;
}

.project-details-description input {
  min-width: 800px;
  width: max-content;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  margin: 0px;
  padding: 10px 0px 30px 5px;
  background-color: var(--blue);
}

.project-details-description textarea:focus,
.project-details-description input:focus,
.project-details-description input::placeholder {
  outline: none;
  color: #fff;
}

.project-details-author {
  align-items: center;
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
}

.project-description p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
}

.from {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .project-datails-image {
    width: 135px;
    height: 135px;
  }
  .project-datails-image img {
    object-fit: cover;
    width: 135px;
    height: 135px;
    border-radius: 6px;
  }
  .project-details-text h1 {
    font-size: 22px;
    font-weight: bolder;
  }
  .project-details-text a {
    text-decoration: none;
    color: var(--gray);
  }
  .project-details-text p {
    font-size: 12px;
    color: var(--gray);
  }
  .project-details-text span {
    font-size: 16px;
    color: var(--secondaryColor);
  }
  .project-details-text img {
    object-fit: cover;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 100px;
  }
}
@media only screen and (max-width: 425px) {
  .project-datails-image {
    width: 100px;
    height: 100px;
  }
  .project-datails-image img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 6px;
  }
  .project-details-author span {
    display: block;
  }
  .project-author-img img {
    opacity: 0;
  }
  .project-details-text h1 {
    font-size: 22px;
    font-weight: bolder;
  }
  .project-details-text a {
    text-decoration: none;
    color: var(--gray);
  }
  .project-details-text p {
    font-size: 12px;
    color: var(--gray);
  }
  .project-details-text span {
    font-size: 16px;
    color: var(--secondaryColor);
  }
  .project-details-text img {
    object-fit: cover;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 100px;
  }
}

/*# sourceMappingURL=ProjectBox.css.map */
