$color_1: var(--lightGray);
$color_2: var(--mainColor);
$color_3: var(--gray);
$color_4: var(--secondaryColor);

.project {
  display: flex;
}

.project-box {
  align-items: start;
  border-radius: 10px;
}
.trash-btn {
  position: relative;
  width: fit-content;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  color: $color_1;
  &:hover {
    color: $color_2;
  }
}
.project-details {
  display: flex;
  text-align: left;
}

.project-datails-image {
  width: 240px;
  height: 240px;
  img {
    object-fit: cover;
    width: 240px;
    height: 240px;
    border-radius: 6px;
  }
}

.project-details-text {
  margin-left: 20px;
  flex-direction: column;
  display: flex;

  width: max-content;
  h1 {
    font-size: 32px;
    font-weight: bolder;
  }
  a {
    text-decoration: none;
    color: $color_3;
  }
  p {
    font-size: 18px;
    color: $color_3;
  }
  span {
    font-size: 22px;
    color: $color_4;
  }
  img {
    object-fit: cover;
    margin-left: 5px;
    width: 22px;
    height: 22px;
    border-radius: 100px;
  }
}
.project-details-author {
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.project-description {
  p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: $color_3;
  }
}
.from {
  margin-top: 20px;
}
// @media only screen and (max-width: 1024px) {
//   .project-box {
//     width: 50%;
//   }
// }
// @media only screen and (max-width: 768px) {
//   .project-box {
//     width: 60%;
//   }
// }
// @media only screen and (max-width: 425px) {
//   .project-box {
//     width: 85%;
//   }
// }
