.quick-post {
  margin-top: 50px;
  margin-bottom: 50px;
}

.quick-post .qp-main {
  height: 120px;
  box-shadow: 0px 23px 9px rgba(231, 111, 81, 0.01),
    0px 13px 8px rgba(231, 111, 81, 0.05), 0px 6px 6px rgba(231, 111, 81, 0.09),
    0px 1px 3px rgba(231, 111, 81, 0.1), 0px 0px 0px rgba(231, 111, 81, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.quick-post .qp-main .qp-btn {
  cursor: pointer;
  border: 0;
  background: linear-gradient(90deg, #e76f51 0%, #f4a261 103.33%);
  box-shadow: 0px 15px 6px rgba(238, 137, 89, 0.02),
    0px 8px 5px rgba(238, 137, 89, 0.08), 0px 4px 4px rgba(238, 137, 89, 0.13),
    0px 1px 2px rgba(238, 137, 89, 0.15), 0px 0px 0px rgba(238, 137, 89, 0.15);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  height: 44px;
  width: 150px;
}

.quick-post .qp-secondary {
}

.show-div {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
